.baseball-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

#player-id {
  margin: 20px;
}

.player-id-container {
  text-align: left;
}

.headshot {
  max-width: 200px !important;
}

.baseball-card {
  text-align: left;
}